@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Syne:wght@400..800&display=swap');

:root{
    --purple-light: #E0AAFF;
    --purple-midlight: #C77DFF;
    --purple-midlight-shadow: #c77dff9e;
    --purple-dark: #3C096C;
    --base-white: #fefbff;
    --base-black: #131313;
    --box-shadow: #d1d1d1;
    --font-main: "Inter", sans-serif;
    --font-extra: "Syne", sans-serif;
}
* {
    padding: 0;
    margin: 0;
}
.greeting-box-main {
    max-width: 95%;
    min-height: 500px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.greeting-box-main h1 {
    font-size: 120px;
    font-family: var(--font-main);
}
@media screen and (max-width: 768px) {
    .greeting-box-main h1 {
        font-size: 53px;
    }
}
.greeting-box-main p {
    font-size: 20px;
    font-family: var(--font-extra);
}
.greeting-box-main img {
    position: absolute;
    width: 16px;
    height: 16px;
}
.explore-btn {
    width: 150px;
    height: 40px;
    background-color: var(--purple-midlight);
    color: var(--base-white);
    font-family: var(--font-main);
    font-size: 13px;
    border: none;
    border-radius: 50px;
    text-align: center;
    transition: .15s;
    cursor: pointer;
}
.explore-btn:hover {
    box-shadow: 1px 3px 15px var(--box-shadow);
    transition: .15s;
}